.shopping-car{
    padding: 30px;
    margin: 10px;
    font-size: 40px;
    color: #8785a2;
}
#root{
    background-color: #ffe2e2ee;

}
.navbar-style{
    background-color: #ffc7c7;
    padding: 12px;
}
.title-disclo{
    color:floralwhite;
    font-family: cursive;
    text-decoration: none;
}
