*{
    padding: 0;
    /* relleno */
    margin: 0;
    box-sizing: border-box;
}
.home{
    background-image: url(../../assets/img/disclosure.jpeg); 
    height: 100vh;
 
    background-position: center;
    opacity: 0.8;

}   

#root{  
   
   /* padding: theme.spacing(3); */
    background-color: #fad5d5eb;
    width: 100%;
    height: 100%; 
    
}

