body{
   background-image: url(../../assets/img/disclosure.jpeg); 
   /* background-position:  center center; */
   background-size: cover;
   background-repeat: no-repeat;
   height: auto;
 
}
   

#root{  
   
    /* padding: theme.spacing(3); */
    background-color: #ffe2e2c4;
    width: 100%;
    height: 100%;
}
