
/* .count{
    display: flex;
    flex-direction: column;
} */
p{
    color: rgb(25, 187, 187);
    font-size: 1.3rem;
    margin: 6px;
    
}
.button-count{
    background-color: rgba(25, 187, 187, 0.933);
    padding: 10px;
    margin: 13px ;
    width: 30%;
    font-size: 1em;
    border: rgb(20, 109, 182) solid 1px;
    border-radius: 2px;

}
